name: verify
on: [ push ]
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Checkout
        uses: actions/checkout@v2
      - name: Lint
        run: deno lint
      - name: Test
        run: deno test
